@import '~@ng-select/ng-select/themes/default.theme.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/ant.design.theme.css";

.container 
    margin-top: 30px;

.add-prescricao 
    margin-bottom: 30px;

.list-prescricao 
    margin-bottom: 50px;

.btn-add-prescricao 
    margin-right: 10px;